* {
    box-sizing: border-box;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
}
  
 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: arial;
    width: 100%;
    text-align: center;
  }
  
  .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1%;
  }
  
  .the-objects {
  display: block;
  width: 100%;
  height: auto; 
  }
  
  .items {
    position: relative;
    flex: 1;
    margin: 0 1%;
  }

body {
    background:black;
}

a{
    text-decoration: none;
    color: white;
}

p {
    color: white;
}

.setup {
    display: block;
    width: 20%;
    height: auto;
    font-size: 5vw;
}

.button {
    border: none;
    color: black;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button.next {
    display: none;
    font-weight: bold;
  }

  #reveal-img {
    display: none;
  }

  #restart-id {
    display: none;
    font-weight: bold;
  }

  .the-next {
    font-size: 4vh;
    padding: 10px;
    margin: 50px;
    text-align: center;
  }

  .the-text {
    font-size: 5vh;
  }

.yes-no {
    padding: 30px;
    margin: 10px;
    text-align: center;
    border: 1px solid #eee;
}

#yes-id, #no-id {
  font-size: 3vh;
  margin: 20px;
  font-weight: bold;
  }